body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Garante que a tela ocupa pelo menos toda a altura da viewport */
}

.container {
  text-align: center;
  background-color: #333;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 90%; /* Aumentei um pouco a largura para melhorar o espaço dos botões */
  max-width: 600px; /* Aumentei o máximo para melhorar a adaptação em telas maiores */
  margin-bottom: 20px; /* Adicionado um espaço no final do container */
}

.logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  color: #ffc107;
  margin-bottom: 20px;
}

.saldo {
  background-color: #ffc107;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(255, 193, 7, 0.8);
  margin-bottom: 20px;
}

.saldo p {
  margin: 0;
  font-size: 18px;
  color: #1a1a1a;
}

main {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #ffc107;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.button {
  padding: 15px 30px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #1a1a1a;
  background-color: #ffc107;
  border: 2px solid #ffc107;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-bottom: 10px; /* Espaçamento entre os botões */
  display: inline-block; /* Botões agora são exibidos inline */
}

.button:hover {
  background-color: #ffca28;
  color: #000;
}

.button:active {
  transform: translateY(1px);
}

.hidden {
  display: none;
}

.buttons {
  margin-top: 20px; /* Espaçamento entre os botões e o conteúdo acima */
}